.title {
    margin-top: 1rem;
    padding-left: 1rem;
    font-family: Helvetica, Sans-Serif;
    font-size: 24px;
  }

.container {
    max-width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding-inline: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.price {
    padding-top: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 0rem;
    text-align: right;
    font-weight: 600;
    font-family: Helvetica, Sans-Serif;
    color: rgb(57, 57, 57);
    font-size: 19px;
}