
.category {
    font-size: 17px;
    display: flex;
    margin-bottom: 1.5rem;
}

.title {
    font-family: Helvetica, Sans-Serif;
    font-weight: 600;
    color: rgb(57, 57, 57);
    font-size: 15px;
    margin-bottom: 1rem;
}

  input[type="checkbox"] {
    visibility: hidden;
  }

  .checkboxOverride {
    margin-top: 0.7rem;
    position: relative;
    width: 25px;
    display: flex;
  }
  .checkboxOverride input[type="checkbox"]:checked + label:after {
    opacity: 1;
    
  }
  .checkboxOverride label {
    
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  .checkboxOverride label:after {
    
    border-style: none none solid solid;
    content: "";
    height: 5px;
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 7px;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    transform:rotate(-45deg);
    width: 10px;
  }

  .boxText {
    margin-left: 1.5rem;
    white-space: nowrap;
    color: rgb(57, 57, 57);
    font-size: 14px;
  }