
.mainImage {
    max-width: 100%;
    aspect-ratio: 0.9;
    border-radius: 6px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.smallImage {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    object-fit: cover;
}

.photosContainer {
    width: 30%;
    min-width: 16rem;
    height: auto;
    margin-right: 24px;
    border-radius: 10px;
    background-color: #fff; 
    padding: 1rem;
}

